[submodule "themes/hugo-webmonetization-demo"]
	path = themes/hugo-webmonetization-demo
	url = https://github.com/sabinebertram/hugo-webmonetization-theme.git
[submodule "webmo-demo/themes/hugo-webmonetization-demo"]
	path = webmo-demo/themes/hugo-webmonetization-demo
	url = https://github.com/sabinebertram/hugo-webmonetization-theme.git
